
@mixin center ($flex , $center , $space-between) {
    display: $flex;
    align-items: $center;
    justify-content: $space-between;
}

@mixin text ($fs , $c , $lh) {
    font-size: $fs;
    color: $c;
    line-height: $lh;
}